{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ component('Banner', { message: 'Home Page' }) }}

    <div class="px-4 sm:px-6 lg:px-8 py-10">
         <div class="py-2">
            <div class="max-w-full mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-banner shadow sm:rounded-lg">
                    <div class="max-w-full">

                        <div class="flex">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
