@import "tailwindcss";

@theme {
  --color-sidebar: #363942;
  --color-sidebarText: #93989D;
  --color-background: #F5F8FA;
  --color-banner: #FFFFFF;
  --color-title: #4F565D;
  --color-sidebarHover: #2A2D34;
  --color-sidebarTextHover: #ABB2B8;
}
