@import "tailwindcss";

@theme {
  --color-sidebar: #212529;
  --color-sidebarText: #A7ACB1;
  --color-sidebarHover: #2C3034;
  --color-sidebarTextHover: #FFFFFF;
  --color-sidebarBorder: #323846;
  --color-background: #181C1F;
  --color-banner: #212529;
  --color-title: #DEE2E6;
  --color-secondMain: #0D6EFD;
}
